html
  padding: 0
  
body
  font-family: -apple-system, BlinkMacSystemFont,
  "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande",
  "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto",
  "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium",
  "Century Gothic", "Liberation Sans", sans-serif
  // text-align: center
  padding: 0
  margin: 0

a
  color: rgba(#000, 0.7)

  &:focus,
  &:hover
    color: rgba(#000, 0.6)

.middleman-logo
  margin-bottom: 1rem
  width: 10rem

.container-outer
  background-color: #222
  padding: 1em
  min-height: 100vh

.container-content
  background-color: #eee
  color: #444
  line-height: 1.5
  padding: 0.5em
  border-radius: 0.25em

  p:not(:last-of-type)
    margin-bottom: 2em

.article-title
  font-size: 1.75em
  color: #eee